body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#wallet-select-header {
  display: flex;
  gap: 1em;
  align-items: center;
}
