body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#local-result {
  padding: 1em;
}
